
body {
    font-family: "Indie Flower";
    background-color: #412c1b;
    color: bisque;
}
h1 {
    text-align: center;
}
.barra {
    display: block;
    margin: 1.54rem auto;
    padding: 1rem;
    width: 80%;
    max-width: 13rem;
    font-size: 1.2em;
}
.container {
    text-align: center;
}
.tierra {
    cursor: pointer;
    max-width: 100px;
    transition: transform 2s ease;
}
.tierra:hover {
    transform: rotate(360deg) scale(1);
}
.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    max-width: 250px;
}
.info {
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 0 2px 5px rgba(red, green, blue, 0.1);
}
article {
    background-color: white;
}